<div class="header">
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fnavbar-static-top" style="background-color: #2a3a4d;">
            <div class="container">
                <a class="navbar-brand mb-0 h1" href="#">{{pageTitle}}</a>
                <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-link active" aria-current="page" [routerLink]="['/home']">Home</a>
                        <a class="nav-link" [routerLink]="['/browse-parts']">Browse Parts</a>
                        <a class="nav-link" [routerLink]="['/about']">About</a>
                        <a class="nav-link" [routerLink]="['/contact']">Contact </a>
                    </div>
                </div>
            </div>
        </nav>
    </header>

</div>