.navbar-brand {
    font-size: 2em;
}

.navbar-brand{
    font-size: 3em;
    color: rgb(211, 235, 255);
    transition: transform .4s
}
.navbar-brand:hover{
    color: rgb(211, 235, 255);
    transform: scale(1.1);
}

.nav-link{
    font-size: 1.3em;
    transition: transform .4s
}

.nav-link:hover{
    transform: scale(1.1);
    color: white
}


@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
    .navbar-brand{
        font-size: 2em;
    }

}

@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    .navbar-brand{
        font-size: 2em;
    }
}