@import url(https://fonts.googleapis.com/css?family=Dosis:300,400);
.body {
    min-height: 100vh;
    margin: 0;
}

.flex-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 90vh;
}