<div id="main" class="container" fxLayout="row nowrap" fxLayout.sm="column" fxLayout.lt-sm="column" fxLayoutWrap
    fxLayoutGap.lt-sm="0.5%" fxLayoutAlign="center">
    <div id="left" fxLayout="column" fxFlex="none" fxLayoutAlign="start center">
        <h1>some </h1>
    </div>
    <div id="right" fxLayout="column" fxFlex="80">
        <div class="parts-container" fxLayout="row wrap" fxLayoutGap="10px grid">
            <app-part-card fxFlex="0 0 25" fxFlex.xs="0 0 100%" fxFlex.sm="0 0 33%"></app-part-card>
            <app-part-card fxFlex="0 0 25" fxFlex.xs="0 0 100%" fxFlex.sm="0 0 33%"></app-part-card>
            <app-part-card fxFlex="0 0 25" fxFlex.xs="0 0 100%" fxFlex.sm="0 0 33%"></app-part-card>
            <app-part-card fxFlex="0 0 25" fxFlex.xs="0 0 100%" fxFlex.sm="0 0 33%"></app-part-card>
            <app-part-card fxFlex="0 0 25" fxFlex.xs="0 0 100%" fxFlex.sm="0 0 33%"></app-part-card>
            <app-part-card fxFlex="0 0 25" fxFlex.xs="0 0 100%" fxFlex.sm="0 0 33%"></app-part-card>
            <app-part-card fxFlex="0 0 25" fxFlex.xs="0 0 100%" fxFlex.sm="0 0 33%"></app-part-card>
            <app-part-card fxFlex="0 0 25" fxFlex.xs="0 0 100%" fxFlex.sm="0 0 33%"></app-part-card>
            <app-part-card fxFlex="0 0 25" fxFlex.xs="0 0 100%" fxFlex.sm="0 0 33%"></app-part-card>
            <app-part-card fxFlex="0 0 25" fxFlex.xs="0 0 100%" fxFlex.sm="0 0 33%"></app-part-card>
            <app-part-card fxFlex="0 0 25" fxFlex.xs="0 0 100%" fxFlex.sm="0 0 33%"></app-part-card>
            <app-part-card fxFlex="0 0 25" fxFlex.xs="0 0 100%" fxFlex.sm="0 0 33%"></app-part-card>
            <app-part-card fxFlex="0 0 25" fxFlex.xs="0 0 100%" fxFlex.sm="0 0 33%"></app-part-card>

        </div>
    </div>
</div>